* {
    font-family: 'Consolas', 'Lucida Sans', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 16px;
    /* letter-spacing: 0.5px; */

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* background: white; */
}

body {
    display: flex;
    flex-direction: column; /* Align items vertically */

    align-items: center; /* Align items in the center */
    justify-content: center;

    min-height: 100vh; /* Make it so that the body takes 100% of the window */
}



#editor {
    resize: none;
}

#editor,
#output {
    width: 90%;
    height: calc((100vh - 120px) / 2);

    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;

    display: block;
    align-items: normal;
    justify-content: left;

    word-wrap: normal;
    white-space: nowrap; /* Make it so that long lines allow scrollbars */
    overflow: auto;

    /* Color codes are from github dark theme.json */
    color: #79b8ff;
    background: #24292e;

    /*
        Here are a few others from there.
        • Black: #1b1f23
        • White: #fff
        • Gray: #24292e
        • Blue: #79b8ff
        • Green: #85e89d
        • Yellow: #ffdf5d
        • Orange: #ffab70
        • Red: #f97583
        • Purple: #b392f0
        • Pink: #f692ce
    */
}




.container {
    display: flex; /* I want them to be stacked horizontally */
    max-width: 90%; /* The buttons must not overflow */

    margin: 10px 0;
    gap: 10px; /* They shouldn't be packed up either */

    align-items: center; /* Make them start from center */
    justify-content: space-between;
}

button {
    font-size: 16px; /* Same as previous but I left it here for future modifications */
    
    border: none;
    padding: 10px 20px;
    border-radius: 5px;

    color: white;
    background: turquoise;

    cursor: pointer;
    transition: transform 0.3s ease, background 0.3s ease;
}

button:hover {
    transform: scale(1.1);
    background: darkturquoise;
}